<div class="video-cuerpo">
    <section class="cuerpo"> 


        <div class="barra-top"></div>


        <br>
<section id="projects">
    <div class="containerr">
        <h1 id="titulop"class="h22">Proyectos</h1>



        <div class="projects-row">    
                <figure>                
                <img src="../../assets/portfolio-1.jpg" alt="" />
                <div class="capa"><h3>Proyecto 1</h3> <p>Este proyecto aun no esta realizado</p></div>
            </figure>
            
                <figure>
                <img src="../../assets/portfolio-2.jpg" alt="" />
                <div class="capa"><h3>Proyecto 2</h3><p>Este proyecto aun no esta realizado</p></div>
            </figure>
            
                <figure>
                <img src="../../assets/portfolio-3.jpg" alt="" />
                <div class="capa"><h3>Proyecto 3</h3><p>Este proyecto aun no esta realizado</p></div>
            </figure>

        </div>



    </div>
</section>

</section>
</div>