<section id="body">



    


<section class="form-register">

    <h4>Agregar educación</h4>

    <form (ngSubmit)="onCreate()" novalidate #f="ngForm"> 

    <div class="form-group"> 
    <input class="controls" type="text" name="nombreE" id="nombreE" placeholder="Nombre de la institucion" [(ngModel)]="nombreE" required>
    </div>


    <div class="form-group"> 
        <input class="controls" type="text" name="descripcionE" id="descripcionE" placeholder="Descripcion de sus estudios" [(ngModel)]="descripcionE" required>
    </div>


    
    <input class="botons" type="submit" value="Crear!">
    
    </form>

  </section>
  
</section>