<div class="barra-bottom"></div>
    <div class="footer-content">         
        <div class="social-links">  
            <ul class="socials">
                <li><a href="https://www.instagram.com/lucasnsegura/" target="_blank"> <i class="fa fa-instagram"></i></a></li>
                <li><a href="https://github.com/Elseguura" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/lucas-nicolas-segura-a8777a228/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>

        <div class="footer-bottom">
        <p>Copyright © 2022 Todos los Derechos Reservados. </p>
        <p>Hecho con 💗 por <span>Lucas Segura</span> </p>
    </div>
    </div>

