<section id="body">

    <section class="form-register">
    
        <h4>Agregar experiencia</h4>
    
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm"> 
    
        <div class="form-group"> 
        <input class="controls" type="text" name="nombreEx" id="nombreEx" placeholder="Nombre de la empresa" [(ngModel)]="nombreEx" required>
        </div>
    
    
        <div class="form-group"> 
            <input class="controls" type="text" name="descripcionEx" id="descripcionEx" placeholder="Descripcion del cargo" [(ngModel)]="descripcionEx" required>
        </div>
    
    
        
        <input class="botons" type="submit" value="Crear!">
        
        </form>
    
      </section>
      
    </section>