<div class="video-cuerpo">
    <section class="cuerpo">   
    <br>
    <br>
    <br>
    <br>

   
    <h1 class="h22" id="h1-id">Contacto</h1>
    <br>
    <br>

    <section id="contact">
        
        <form class="form">
            <div class="form_section">
                <input type="email" class="form_input" placeholder="Email">
            </div>
            <div class="form_section">
                <input type="text" class="form_input" placeholder="Asunto">
            </div>
            <div class="form_section"  >
                <textarea class="form_input" placeholder="Escriba su mensaje..." ></textarea>
            </div>

            <div class="form_section">
                <input type="submit" class="form_input">
            </div>

            

        </form>
    
    </section>


</section>
    
<br>
<br>

</div>