
<section id="body">



    
    <div class="container" *ngIf="skill">

    <section class="form-register">
    
        <h4>Editar experiencia</h4>
    
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"> 
    
        <div class="form-group"> 
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre de la skill" [(ngModel)]="skill.nombre" required>
        </div>
    

        <div class="form-group"> 
            <input class="controls" type="text" name="porcentaje" id="porcentaje" placeholder="Porcentaje" [(ngModel)]="skill.porcentaje" required>
        </div>

        <input class="botons" type="submit" value="Editar">
        
        </form>
    
      </section>

    </div>
      
    </section>