.h22 {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size:1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    padding-bottom:50px;   
     
    z-index: 2;
    
}

.h22::after,.h22::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #dc3545;
    top:0.6em;
    transform:scale(0);
    transition: all 0.3s ease-in;
}


.h22:hover::before, .h22:hover::after{
    transform:scale(1)
    
    
}


.h22::before{
    left:-140px;
}

.h22::after {
    right:-140px;
}



    #h1-id {
        top:40px;
    }

    .video-cuerpo {   
        width: 100%;
        background: linear-gradient(
            rgba(0,0,0,.5),
            rgba(0,0,0,.5)), url(../../../assets/fondo.jpg);
            
    }
    
    #info {
        padding-bottom:20px !important;  
    }

    .conteiner_ul {
        position: relative;
        margin-left: 290px;   
        background-color: rgba(0,0,0, 0.09) ;   
        width: 750px;
        height:100px;
        overflow: hidden;
        border-radius: 10px;
        z-index: 2;
    }
    

    .cuerpo {
        
        z-index: 2; 
        top:300px;
        text-align: center;        
        overflow: hidden;
    }

    .row{
        padding: 20px;
        
    }
    
    .circulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .barra-top {             
        position: absolute;       
        z-index: 2;
        width: 100%;
        border-bottom: 3px solid #af222e ;
        
     
    }

    #botoneww {
        margin-bottom: 10px;
        margin-top: 15px;
    }

    
   
    


    